@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aqua;
}
main{
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: repeat(5, 70px);
    gap: 10px;
}
.buttons .button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
.output{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 40px;
    text-align: end;
    pointer-events: none;
    border: none;
}
.buttons .btn{
    background-color: aqua;
    color: white;
}